.side-bar {
  width: 30%;
  display: grid;
  grid-template-rows: 10% 25% 65%;
  color: white;
  font-family: 'Potta One', cursive;
}

#player-name {
  background-color: #b37d46;
  font-size: 3.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#score {
  font-size: 4vw;
  background-color: #438496;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #score {
    font-size: 7vw;
    background-color: #438496;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
