.wrap {
  /* width: 99vw; */
  /* height: 96vh; */
  display: flex;
  background-color: #286da8;
  flex-direction: row;
}

#game-container {
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#circles-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

#success {
  font-size: 5vw;
  font-weight: bold;
  color: white;
  font-family: 'Bowlby One SC', cursive;
}

#game-finish {
  font-size: 4vw;
  font-weight: bold;
  text-align: center;
  color: white;
  font-family: 'Bowlby One SC', cursive;
}

@media only screen and (max-width: 600px) {
  #circles-container {
    width: 90%;
    height: 40%;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  #success {
    font-size: 10vw;
    font-weight: bold;
    color: white;
    font-family: 'Bowlby One SC', cursive;
  }

  #game-finish {
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: 'Bowlby One SC', cursive;
  }
}
